<launch>
    <arg name="bag_path" default="$(find qcar_perception)/bags/" />
    <arg name="bag_file" default="dataset1.bag" />
	<rosparam file="$(find qcar_interface)/cameras.yaml" command="load" />

    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock -l $(arg bag_path)$(arg bag_file)"/>
    <node name="object_detection_node" pkg="qcar_perception" type="object_detection.py" output="screen" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find qcar_perception)/rviz/perception.rviz" />
</launch>