<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find qcar_gazebo)/urdf/qcar_model.xacro'"/>

  <!-- Joint State Publisher-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- Intel RealSense -->
  <node name="rgbd_node" pkg="qcar" type="rgbdnode.py" output="screen" />

  <include file="$(find qcar_perception)/launch/object_detection.launch" />
  <include file="$(find qcar_perception)/launch/lane_detection.launch" />

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find qcar_perception)/rviz/perception.rviz"/>
</launch>
