<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find qcar_gazebo)/urdf/qcar_model.xacro'"/>

  <!-- Joint State Publisher-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

<!-- Controller Input -->
    <node name="qcar_controller" pkg="qcar" type="commandnode.py" output="screen" />
    
    <!-- QCar Motor Actuation -->
  <node name="qcar_node" pkg="qcar" type="qcarnode.py" output="screen"/>

    <!-- Front Cameras -->
  <!-- <node name="csi_node" pkg="qcar" type="csinode.py" output="screen" />    -->

    <!-- Intel RealSense -->
  <node name="rgbd_node" pkg="qcar" type="rgbdnode.py" output="screen" />

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find qcar)/rviz/qcar.rviz"/>

</launch>
