<launch>


  <!-- from video -->
  <rosparam file="$(find ack_drive)/config/joint_states.yaml" command="load"/>

  <rosparam file="$(find ack_drive)/config/ack_drive.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="robot_controller_spawner" pkg="controller_manager" type="spawner"
    respawn="true" output="screen" 
    args="/joint_state_controller
          /qcar/mobile_base_controller
          --shutdown-timeout 3"/>


  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/qcar/mobile_base_controller/cmd_vel"/> 
  </node>


</launch>